# Simple Ollama Configuration
# MODEL_NAME=llama3.1:8b-instruct  # or llama3.1:70b-instruct
DEBUG_MODE=false
INDEX_path="nf1104/work/trec25/2025-starter-kit/lucene-inverted.msmarco-v2.1-doc-segmented-full.20240418.4f9675.tar.gz.1"